/* Mobile size Portrait CSS*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {

/*-------What Is Everwell-------*/
	.slider {
			width: 230px;
			height: 230px;
			margin: 10px auto;
			background: transparent;
	}

	.slider img {
	    	width: 230px;
			height: 230px;
			position: center;
	}

   	.what-image1 {
   	   		display: none;
   	}

   	.what-image2 {
    		display: block;
    		width: 230px;
			height: 230px;
			position: center;
   	}

	#wrapper {
			font: 8pt normal Arial, sans-serif;
			height: auto;
			text-align: center;
	}

}

/*Mobile size Landscape CSS*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
/*-------What Is Everwell-------*/
	.slider {
			width: 280px;
			height: 250px;
			margin: 10px auto;
			background: transparent;
	}

	.slider img {
	    	width: 280px;
			height: 230px;
			position: center;
	}

   	.what-image1 {
   	  	 	display: none;
   	}

   	.what-image2 {
    		display: block;
    		width: 280px;
			height: 230px;
			position: center;
   	}

	#wrapper {
			font: 8pt normal Arial, sans-serif;
			height: auto;
			text-align: center;
	}

}

/*Mobile size Portrait CSS*/
@media only screen and (min-device-width: 568px) and (max-device-width: 768px) and (orientation: portrait) {

}

/*Mobile size Landscape CSS*/
@media only screen and (min-device-width: 568px) and (max-device-width: 768px) and (orientation: landscape) {

}
